body {
  font-family: "Questrial", sans-serif;
  background-color: #fafafa;
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

h1 {
  font-size: 1.75rem;
  font-weight: 1;
}

p {
  font-size: 16px;
}

p a {
  color: #0000ee;
  text-decoration: none;
}

.main {
  padding: 75px 85px 50px;
  position: fixed;
  left: 0px;
  top: 0px;
}

.social-icons {
  position: fixed;
  bottom: 0;
  padding-bottom: 100px;
}

.social-icons a {
  margin-right: 18px;
}
